/* CSS files add styling rules to your content */

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
</style>
)

body {
  font-family: helvetica, arial, sans-serif;
  /*   margin: 2em; */
}

h1 {
  font-style: italic;
  color: #373fff;
}
p {
  font-family: Times;
}
.customfont {
  font-family: "Amatic SC", cursive;
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
/* class="jumotron" */
.jumbotron {
  background-image: Lineargradient(
      180deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://picsum.photos/800/300);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: antiquewhite;
}

.social-media;
